.itemView {
}

.itemMenu {
  padding: 0;
  background-color: hsl(0, 0%, 98%);
  border: 2px solid rgb(227, 233, 237);
  border-radius: var(--global-radius);
  overflow: hidden;
}

.itemHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--brand);
  color: var(--brand-x);
  border-bottom: 2px solid hsl(0, 0%, 0%);
  gap: 2em;
}

.itemHeaderActions {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; /* TODO use grid auto */
  gap: 1em;
}

.itemHeader {
  font-weight: 700;
  letter-spacing: -0.33px;
  margin: 0;
  word-break: break-word;
  font-size: clamp(1.5em, 1.5em + 1vw, 2.5em);
}
