.calculateBtnView {
  display: grid;
  place-content: center;
}

.calculateBtn {
  background-color: var(--brand);
  color: var(--brand-x);
  font-weight: 600;
  border-radius: 50px;
  font-size: 1.25rem;
  padding: 1em;
  border: 1px solid var(--brand);
  cursor: pointer;
}

.calculateBtn:hover {
  background-color: var(--brand-alt);
}
