button {
  border: 0;
  padding: 0.5em 0.75em;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  transition: color, fill, opacity, border, background-color 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn {
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: transparent;
  color: var(--brand-x);
  opacity: 1;
}
.btn-primary:hover {
  opacity: 0.75;
}
.btn-primary-light {
  color: var(--brand-off);
}

.btn-success {
  background-color: var(--brand);
  color: var(--brand-x);
  border: 3px solid var(--brand);
}
.btn-success:hover {
  background-color: var(--brand-x);
  color: var(--brand);
}

.btn-success-dark {
  background-color: var(--brand-x);
  color: var(--brand);
  border: 3px solid transparent;
  opacity: 1;
}
.btn-success-dark:hover {
  opacity: 0.75;
}

.icons {
  width: 20px;
  fill: var(--brand-off);
  opacity: 1;
  transition: opacity, fill 0.2s ease-in-out;
}
.icons:hover {
  opacity: 0.75;
}

.icon-light {
  fill: var(--brand-x);
}
.icon-light:hover {
  fill: var(--brand-x);
}

.icon-sm {
  width: 12px;
}

.icon-xl {
  width: 25px;
}
