button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  transition: color, background-color 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-danger {
  background-color: var(--brand-x);
  color: var(--brand-off);
  border: 1px solid var(--brand-x);
}

.btn-danger:hover {
  background-color: var(--brand-off);
  color: var(--brand-x);
  border: 1px solid var(--brand-off);
}

.btn-success {
  background-color: var(--brand);
  color: var(--brand-x);
  border: 1px solid var(--brand);
}

.btn-success:hover {
  background-color: var(--brand-x);
  color: var(--brand);
}

.icons {
  width: 20px;
  fill: var(--brand-off);
}

.icon-xl {
  width: 25px;
}

.icon-light {
  fill: var(--brand-x);
}

.icons:hover {
  opacity: 1;
}
