.container {
  margin: auto;
  --_gap: 5rem;
  max-width: min(100% - var(--_gap), var(--max-width));
}

.c-full-height {
  min-height: calc(100vh - 5rem);
}

.c-grid-center {
  display: grid;
  place-content: center;
  gap: var(--size-1);
}
