* {
  /* light */
  --brand-light: hsl(186 79% 29%);
  --brand-x-light: hsl(195, 50%, 99%);
  --brand-alt-light: hsl(175, 100%, 96%);
  --brand-off-light: hsl(255 30% 24%);
  --background-light: #ffffff;
  --error-light: hsl(0 80% 42%);

  /* dark */
  --brand-dark: hsl(174, 36%, 44%);
  --brand-x-dark: hsl(195, 50%, 99%);
  --brand-alt-dark: hsl(174, 36%, 54%);
  --brand-off-dark: hsl(206, 32%, 86%);
  --background-dark: hsl(0, 0%, 100%);
  --error-dark: hsl(0, 80%, 42%);
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --brand-x: var(--brand-x-light);
  --brand-off: var(--brand-off-light);
  --brand-alt: var(--brand-alt-light);
  --background: var(--background-light);
  --error: var(--error-light);
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* color-scheme: dark; */

/* dark variant */
/* --brand: var(--brand-dark); */
/* --brand-off: var(--brand-off-light); */
/* --menu: var(--menu-dark); */
/* } */
/* } */

.lightmode {
  color-scheme: light;

  --brand: var(--brand-light);
  --brand-x: var(--brand-x-light);
  --brand-off: var(--brand-off-light);
  --action: var(--action-light);
}

.darkmode {
  color-scheme: dark;

  /* dark variant */
  --brand: var(--brand-dark);
  --brand-x: var(--brand-x-dark);
  --brand-off: var(--brand-off-dark);
  --action: var(--action-dark);
}
