* {
  /* light */
  --brand-light: hsl(0, 0%, 100%);
  --brand-off-light: hsl(206, 6%, 44%);
  --action-light: hsl(197, 100%, 84%);
  --success-light: rgb(0, 200, 5);

  /* dark */
  --brand-dark: hsl(0, 0%, 100%);
  --action-dark: hsl(197, 100%, 94%);
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --brand-off: var(--brand-off-light);
  --action: var(--action-light);
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* color-scheme: dark; */

/* dark variant */
/* --brand: var(--brand-dark); */
/* --brand-off: var(--brand-off-light); */
/* --menu: var(--menu-dark); */
/* } */
/* } */

.lightmode {
  color-scheme: light;

  --brand: var(--brand-light);
  --brand-off: var(--brand-off-light);
  --action: var(--action-light);
}

.darkmode {
  color-scheme: dark;

  /* dark variant */
  --brand: var(--brand-dark);
  --brand-off: var(--brand-off-dark);
  --action: var(--action-dark);
}
