.totalsMenuView {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: var(--brand-x);
  border-bottom: 4px solid var(--brand);
  color: var(--brand-off);
  padding: 1em;
}

.totalRow {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-flow: row;
}

.totalText {
  font-weight: 600;
  font-size: clamp(0.5em, 1.25em + 1vw, 2em);
  word-break: break-word;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.totalsBreakdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.totalsBreakdownList {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.totalsBreakdownList:nth-child(2) {
  text-align: right;
  font-weight: 600;
}

.totalBreakdownItem {
  padding: 0.15em 0;
}

.totalInputWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}
