.dialog-content {
  margin: auto; /* 1 */
  z-index: 2; /* 2 */
  position: relative; /* 2 */
  background-color: var(--brand-x); /* 3 */
  max-width: 80ch;
  padding: 3em;
  border-radius: var(--size-4);
}

.dialog-close {
  position: absolute;
  top: 1em;
  right: 1em;
}

.dialog-body {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

.dialog-btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
