.personActions {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column-reverse;
}

/* ? Need to investigate why iOS can't use gap */
.personActions button {
  margin: 1em 0;
}

@media (min-width: 576px) {
  .personActions {
    gap: 1.25em;
    flex-flow: row;
  }
}
