nav {
  background-color: var(--brand);
}

.nav-container {
  margin: auto;
  max-width: var(--max-width);
}

.nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 2em;
  color: var(--brand-x);
}

.nav-logo {
  font-size: clamp(1em, 1.5em + 1vw, 2em);
  text-decoration: none;
  font-weight: 600;
}

.nav-wrapper a {
  display: flex;
  gap: 0.35em;
  align-items: center;
}
