.personActions {
  display: flex;
  flex-flow: column wrap;
}

/* ? Need to investigate why iOS can't use gap */
.personActions button {
  margin: 1em 0;
}

@media (min-width: 376px) {
  .personActions {
    gap: 0.55em;
    flex-flow: row;
  }
}
