.personCard {
  border-bottom: 1px solid var(--brand-off);
  padding: 1em 1.5em;
  display: flex;
  flex-flow: column wrap;
  gap: 1.25em;
  color: var(--brand-off);
}

.personCard:last-child {
  border-bottom: 0;
}

.personCardHeader > h2 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -0.33px;
  word-break: break-word;
  font-size: clamp(1em, 1.25em + 1vw, 1.5em);
}

.personCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 2em;
  white-space: nowrap;
}

.personItemList,
.subtotalList {
  padding-inline-start: 0;
  list-style: none;
  margin: 0;
}

.personItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  gap: 2em;
  border-bottom: 1px solid rgba(148, 148, 148, 0.406);
}

.personItem:last-child {
  border-bottom: none;
}

.personItem.editing {
  flex-flow: row;
  justify-content: start;
  align-items: center;
}

@media (min-width: 630px) {
  .personItem.editing {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }
}

.personItemDetailsContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.personItemInfoRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}

.personItemName {
  word-break: break-word;
  max-width: 60%;
}

.subtotalWrapper {
  display: flex;
  justify-content: flex-end;
  color: var(--brand-off);
  gap: 2em;
}

.subtotalList {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.subtotalList:nth-child(2) {
  text-align: right;
  font-weight: 600;
}

.subtotalItem {
  padding: 0.15em 0;
}
