.sharingRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.icons {
  width: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.icons:hover {
  opacity: 1;
}
