.sharingRow {
  display: flex;
  justify-content: end;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em 1.5em;
}

.sharingRow .btn-danger {
  font-weight: 600;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
}
