.eventHeaderActionsRow {
  display: flex;
  justify-content: end;
  flex-flow: column;
  align-items: center;
  gap: 0.5em 1.5em;
}

@media (min-width: 376px) {
  .eventHeaderActionsRow {
    flex-flow: row;
  }
}
